<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.AppBaseSetMapper">

    <update id="updateOne" parameterType="Long" statementType="CALLABLE">
    call pro_advice_update(
    #{id,mode=IN,jdbcType=BIGINT}
    )

</update>


</mapper>
























